version: 2
updates:
  - package-ecosystem: bundler
    directory: /
    schedule:
      interval: weekly
  - package-ecosystem: bundler
    directory: /gems/rubocop-mmenanno-rails
    schedule:
      interval: weekly
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
